body{
    background-color: #0d1323;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


 .profile{
    background-color: #5746ea;
    height: 350px;
    width: 300px;
    border-radius: 20%;
    text-align:center;
    margin-left: 20%;
    margin-top: 15%;
}

#dwm{
    background-color: #1d204b;
    height: 200px;
    width: 300px;
    border-radius: 20%;
    margin-top: -1%;
    text-align: left;
}

.box1{
    background-color: #1d2041;
    height: 200px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    text-align: left;
    margin-left: 45%; 
    margin-top: -23%;
    
}

#worklogo{
    background-color: #fa8a64;
    height: 75px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    margin-top: -90%;
   image-orientation: flip;
  

}

.box2{
    background-color: #1d2041;
    height: 200px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    text-align: left;
    margin-left: 45%; 
    margin-top: 3%;  
}

#exerciselogo{
    background-color: #5ec195;
    height: 75px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    margin-top: -90%;
}

.box3{
    background-color: #1d2041;
    height: 200px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    text-align: left;
    margin-left: 65%;  
    margin-top:-31% ;
}

#playlogo{
    background-color:#57c2e4 ;
    height: 75px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    margin-top: -90%;
}

.box4{
    background-color: #1d2041;
    height: 200px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    text-align: left;
    margin-left: 65%;  
    margin-top: 3%; 
}

#sociallogo{
    background-color: #7235d1;
    height: 75px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    margin-top: -85%;
}

.box5{
    background-color: #1d2041;
    height: 200px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    text-align: left;
    margin-left: 83%; 
    margin-top: -31.5%
}

#studylogo{
    background-color: #fe5f7d;
    height: 75px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    margin-top: -90%;
}

.box6{
    background-color: #1d2041;
    height: 200px;
    width: 250px;
    display: grid;
    border-radius: 20%;
    text-align: left;
    margin-left: 83%; 
    margin-top: 4%;

}

#selfcarelogo{
background-color: #f1c75b;
height: 75px;
width: 250px;
display: grid;
border-radius: 20%;
margin-top: -90%;
}

.button{
transition-duration: 0.5ms;
cursor: pointer;
}

.box1:hover{
    background-color: #34397b;
}

.box2:hover{
    background-color: #34397b;
}

.box3:hover{
    background-color: #34397b;
}

.box4:hover{
    background-color: #34397b;
}

.box5:hover{
    background-color: #34397b;
}

.box6:hover{
    background-color: #34397b;
}

#dwm:hover{
    background-color: #34397b;
}

.daily{
   cursor: pointer; 
}

.daily:hover{
    background-color: #34397b;

}

.weekly{
    cursor: pointer;
    
}

.weekly:hover{
    background-color: #34397b;
}

.monthly{
    cursor: pointer;
}

.monthly:hover{
    background-color: #34397b;
}






   
    
